* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(23, 90, 137, 0.929);
  color: white;
  text-align: center;
  height: 75px;
}

main {
  background-color: aliceblue;
  flex: 1;
  display: flex;
  flex-direction: column;
}

main .card-container {
  flex: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 4px;

  padding: 36px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(210px, 1fr));
}

main .card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 2fr 1fr;
  padding: 24px;
  gap: 4px;

  justify-content: center;
  align-content: center;
  

  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-left: 4px solid rgba(33, 137, 255, 0.75);
}

main .card > * {
  height: 100%;
  border-bottom: 1px solid black;
}

main .card > *:first-child,
main .card > *:nth-child(2) {
  border-top: 1px solid black;
}

main .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  margin-top: auto;
}

main .button-container button {
  color: white;
  height: 75%;
  width: 180px;
  border-radius: 16px;

  font-size: 24px;
  font-weight: 900;
  background-color: rgba(33, 137, 255, 0.75);
  border: 4px solid rgba(23, 89, 137, 0.25);
}

nav {
  font-size: 40px;
  font-weight: 900;
}

footer {
  margin-top: auto;
}
